In [4]:
a = []
c = 0
first = 1
for i in range(10):
    a.append(c)
    c,first = c+first, c
print(a) 
print(tuple(a))

(0, 1, 1, 2, 3, 5, 8, 13, 21, 34)

In [6]:
arr = [1,2,3,4,5]
arr.append(6)
arr[0] = 98
arr.remove(3)
print(arr)

[98, 2, 4, 5, 6]

In [11]:

aadhar = {'aadharno': {
    'name': 'Sivanandhini',
    'mob.no': '3456789098',
    'addresss': '23 street ',
    'properties': '-'
},'name':'nandhini'
         }
for key, value in aadhar.items():
    
    if type(value) == 'dict':
        print("Key:", key)
        print("Values:")
        for i,j in value.items():
            print("Key:", i, "Value:", j)
    else:
        print("Key:", key, "Value:", value)

Key: aadharno Value: {'name': 'Sivanandhini', 'mob.no': '3456789098', 'addresss': '23 street ', 'properties': '-'}
Key: name Value: nandhini

In [14]:

aadhar = {'aadharno': {
    'name': 'Sivanandhini',
    'mob.no': '3456789098',
    'addresss': '23 street ',
    'properties': '-'
},'name':'nandhini'
         }
for key, value in aadhar.items():
    
    if type(value) is dict:
        print("Key:", key)
        print("Values:")
        for i,j in value.items():
            print("   Key:", i, "Value:", j)
    else:
        print("Key:", key, "Value:", value)

Key: aadharno
Values:
   Key: name Value: Sivanandhini
   Key: mob.no Value: 3456789098
   Key: addresss Value: 23 street
   Key: properties Value: -
Key: name Value: nandhini

In [19]:
# case 1
num = 10
if 0:
    print("Positive")
print("Print always")

Print always

In [16]:
# case 2
num = 10
if num > 10:
    print("Positive")
print("Print always")

Print always

In [ ]:
num = 15
if (num >= 10 and 20 <= num):
    print('number greater than 10')
elif num >= 10 and num >= 20:
    print("2nd division")

In [ ]:
a = 70
b = 34
c = 89
if a > b and a > c:
    print("a is greater")
elif b > a and b > c:
    print("b is greater")
else:
    print("c is greater")

In [21]:
# case 2
num = 20
if num > 10 or num < 20:
    if num > 20:
        print("Number is positive")
    else:
        print("2nd division")
else:
    print("fail")

2nd division

In [22]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [23]:
for i in range(10, 100, 10):
    print(i)

10
20
30
40
50
60
70
80
90

In [28]:
for i in range(2,11,2):
    print(i)

2
4
6
8
10

In [29]:
# for loop with else
x = [1,2,3,4,5,6]
for data in x:
    print(data)
print("Printed all data in x")

1
2
3
4
5
6
Printed all data in x

In [38]:
# prime number
a = int(input())
flag = 0
if a == 1 or a == 2:
    print("Prime")
elif a > 2:
    for i in range(2, a):
        if a % i == 0:
            flag = 1
            print("Not a prime")
            break # it doesn't execute the records after the break statement.
    if flag == 0:
        print("Prime")

 1

Prime

In [ ]:
# None - dont allow to get i loop, no matter condition is true or false.
# continue - only allow false condition to process, doesnt move to next line - move to lnext iteration.
# break - it come out of the loop, once condition is true.

In [1]:
a = int(input())
for i in range(a):
    if i % 2 == 1:
        continue
    elif i**2 > a:
        break
    else:
        print(i)

 16

0
2
4

In [8]:
d = ['apple','orange','banana','grape','jack','pineapple']
e = input()
for i in d:
    if e not in d:
        print("OOPS! there is no fruit named",e)
        break
    elif e != i:
        continue
    
    else:
        print("Yeah we got it!!")

 tomato

OOPS! there is no fruit named  tomato

In [10]:
a = [1,2,3,4,5]
b = [6,7,8,9]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
a = [1,2,3,4,5]
b = [6,7,8,9]
a.append(b)
print(a)

[1, 2, 3, 4, 5, [6, 7, 8, 9]]

In [12]:
a = [1,2,3,4,5]
b = [6,7,8,9]
print(a+b)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
lst = [1,2,3,4,5]
lst1 = []
lst1 = lst
lst1.append(7)
lst1.append(6)
print(lst)
print(lst1)

[1, 2, 3, 4, 5, 7, 6]
[1, 2, 3, 4, 5, 7, 6]

In [15]:
a = [0,98,-5,6,74,9,2,23,-9]
a1 = ['one','two','three']
b = sorted(a)
b1 = sorted(a1)
print(b)
print(b1)

[-9, -5, 0, 2, 6, 9, 23, 74, 98]
['one', 'three', 'two']

In [17]:
# split function 
a = 'i,am,splitting,it,into,list'
print(a)
print(type(a))
print(a.split(","))
print(type(a.split(",")))

i,am,splitting,it,into,list
<class 'str'>
['i', 'am', 'splitting', 'it', 'into', 'list']
<class 'list'>

In [18]:
# list looping
a = [1,2,3,4,5]
for i in a:
    print(i)
print("No data available")

1
2
3
4
5
No data available

In [22]:
a = [i**2 for i in range(10)]
print(a)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [23]:
# without function
m = [[1,2,3,4],[5,6,7,8],[9,10,11,12]]
a = []
b = []
for i in range(len(m[0])):
    for j in range(len(m)):
        b.append(m[j][i])
    a.append(b)
    b = []
print(m)
print(a)

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]
[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [ ]:
# assignment using function
m = [[1,2,3,4],[5,6,7,8],[9,10,11,12]]

In [24]:
l = ('hi',1,['hello','world'])
print(type(l))

<class 'tuple'>

In [25]:
l[2][1] = 'nand'
print(l)

('hi', 1, ['hello', 'nand'])

In [27]:
l = 'nandhini'
l[-1] = 'k'
print(l)

TypeError: 'str' object does not support item assignment

In [30]:
l = (('nand',))
l = l*5
print(l)

('nand', 'nand', 'nand', 'nand', 'nand')

In [37]:
l = (('nand',))
print(l)
del l
# print(l)

('nand',)

In [51]:
import statistics as l
lst = (1,2,3,4,5,6,7,8,0,1)
print(lst.index(0))
print(3 in lst)
print(l.mean(lst))
print(lst.count(1))
print(len(lst))
print(sorted(lst))
print(max(lst))
print(sum(lst))
print(min(lst))
print(sorted(lst, reverse = True))

8
True
3.7
2
10
[0, 1, 1, 2, 3, 4, 5, 6, 7, 8]
8
37
0
[8, 7, 6, 5, 4, 3, 2, 1, 1, 0]
24

In [52]:
import math as li
print(li.factorial(5))

120

In [ ]:
# SETS
# its immutable but we can add and remove data 
# to do math operations like union, intersection, etc.,

In [59]:
l = [1,2,3,4,5]
l1 = []
# l1 = l
l1 = l.copy()
print(l1)
print(id(l1))
print(id(l))

[1, 2, 3, 4, 5]
1986853858496
1986855529216

In [73]:
l = {1,2,3,5}
l.add(4)
l.update([11,12,13],[87,90])
print(l)

{1, 2, 3, 4, 5, 11, 12, 13, 87, 90}

In [78]:
# l.remove(99)
l.discard(90)
l

{1, 2, 3, 4, 5, 11, 12, 13, 87}

In [89]:
l = {1,2,3,5}

a = l.pop()

l.clear()
l.add(a)
print(l)
print(a)

{1}
1

In [91]:
a = {1,2,3,4,5,6}
b = {1,5,6,7,8,9,0}
print(a|b) #union or use |
print(a.union(b))

print(a&b) # intersection or &
print(a.intersection(b))

print(a-b) #difference or -
print(a.difference(b))

print(a^b) #symmetric_difference or ^

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 5, 6}
{1, 5, 6}
{2, 3, 4}
{2, 3, 4}
{0, 2, 3, 4, 7, 8, 9}

In [ ]:
a = {1,2,3,4,5}
b = {1,2}
print